.button {
	background-color:green;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    width: 200;
    height: 50;
	
}
.dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color:  #999;
    min-width: 113px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    opacity: .8;
}

.dropdown-content a {
    color: solid green;
    padding: 16px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: black}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .button {
    background-color: black;
}

.buy:hover {
    background-color: green;
}
.buy {
	background-color:black;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    width: 80;
    height: 40;	
}
.addCart {
	background-color:black;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    width: 150;
    height: 40;
	
}
.addCart:hover {
    background-color: green;
}

.quantity {
	height:25%;
	width:10%;
	border: 2px solid green;
}
.upleft { 
   width:200px; 
   height: 200px; 
   background:black; 
   float:left; 
}

.upleft img {
   width:200px; 
   height: 200px; 
   background:black; 
   float:left; 
   -webkit-transform: scale(.5);
   transform: scale(.5);
   -webkit-transition: .3s ease-in-out;
   transition: .3s ease-in-out;
}

.upleft img:hover{
	-webkit-transform: scale(.9);
	transform: scale(.9);
}

.upright{ 
   width:250px; 
   height:200px;  
   float:left
}
.below { 
   height:200px; 
   width:500px; 
   background:green 
}
#navigation {
	float:right;
	clear:right;
	padding-top:28px;
	padding-bottom:47px;
}
#navigation ul {
	list-style:none;
}
#navigation ul li {
	float:left;
	display:inline;
	padding-left:29px;
}
#navigation ul li a {
	font-size:14px;
	font-weight:bold;
	color:#fff;
	text-decoration:none;
}
#navigation ul li a.active, #navigation ul li a:hover {
	color:#d91d2a;
}
#newNavigation {
	float:left;
	clear:left;
	padding-top:100px;
	padding-bottom:10px;
	cursor: pointer;
	
}
#newNavigation ul {
	list-style:none;
	background-color: green;
}
#newNavigation ul li {
	float:left;
	display:inline;
	padding-left:29px;
	border-top:1px dashed #666;
	border-bottom:1px dashed #666;
	border-style:solid;
	border-left-color: green;
	border-right-color:green:
	
}

#newNavigation ul li a {
	font-size:20px;
	font-weight:italic;
	color:#fff;
	text-decoration:none;
}
#newNavigation ul li a.active, #newNavigation ul li a:hover {
	color:green;
}
#sub_newNavigation {
	float:left;
	clear:left;
	padding-top:0px;
	padding-bottom:50px;
	cursor: pointer;
	
}
#sub_newNavigation ul {
	list-style:none;
	background-color: green;
}
#sub_newNavigation ul li {
	float:left;
	display:inline;
	padding-left:29px;
	border-top:1px dashed #666;
	border-bottom:1px dashed #666;
	border-style:solid;
	border-left-color: green;
	border-right-color:green:
	
}

#sub_newNavigation ul li a {
	font-size:20px;
	font-weight:italic;
	color:#fff;
	text-decoration:none;
}
#sub_newNavigation ul li a.active, #sub_newNavigation ul li a:hover {
	color:green;
}

#sub_navigation ul li a {
	font-size:14px;
	font-weight:bold;
	color:#fff;
	text-decoration:none;
}
#sub_navigation ul li a.active, #navigation ul li a:hover {
	color:green;
}
#sub-navigation {
	display:block;
	clear:right;
	border-top:1px dashed #666;
	padding:5px 0;
}
#sub-navigation ul {
	list-style:none;
}
#sub-navigation ul li {
	float:left;
	display:inline;
	padding-right:23px;
}
#sub-navigation ul li a {
	font-size:14px;
	font-weight:bold;
	color:#fff;
	line-height:24px;
	text-decoration:none;
}
#sub-navigation ul li a:hover {
	text-decoration:underline;
	color:green;
}
#shell {
	width:980px;
	margin:0 auto;
}
#header {
	position:relative;
}
h1#logo {
	position:absolute;
	top:50px;
	left:0;
}
h1#logo a {
	float:left;
	width:240px;
	height:70px;
	background:url("fact.png") no-repeat 0 0;
	font-size:0;
	line-height:0;
	text-indent:-4000px;
}

#content {
}
.box {
	width:1000px;	
	padding-bottom:21px;
}
.box .head {
	width:1000px;
	padding-top:14px;
	padding-bottom:11px;
}
.box .head h2 {
	float:left;
	display:inline;
}
.box .movie {
	width:300px;
	float:left;
	padding-right:12px;
}
.text{ 
	width:340px; 
	height:217px; 
	background:#FFF;
	visibility:hidden; 
	} 
.movie-image {
	float:left;
	width:300px;
	height:300px;
	position:relative;
}
.movie-image img {
	width:300px;
	height:300px;
   -webkit-transform: scale(.8);
	transform: scale(.8);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	
}

.movie-image img:hover {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
	visibility:visible;
}
	
.movie-image a {
	float:left;
	display:inline;
	width:152px;
	height:214px;
	position:relative;
	z-index:2;
}
.play {
	position:absolute;
	top:0;
	left:0;
	width:152px;
	height:214px;
	background:url('images/image-hover.png');
	display:block;
	z-index:5;
	cursor:pointer;
	display:none;
}
.movie span.name {
	font-weight:bold;
	color:#fff;
	font-size:14px;
	text-align:center;
	padding-top:160px;
	display:block;
}
.box .last {
	padding:0;
}
.rating {
	float:left;
	width:152px;
	padding-top:8px;
}
.rating p {
	float:left;
	font-size:10px;
	color:#fff;
	font-weight:bold;
}
.rating .stars {
	float:left;
	width:60px;
	height:11px;
	background:url('stars.gif') no-repeat 0 0;
	margin-left:2px;
}
.rating .stars-in {
	width:48px;
	display:inline;
	background:url('stars.gif') no-repeat 0 bottom;
	position:absolute;
	height:11px;
	font-size:0;
	line-height:0;
	text-indent:-4000px;
}
.comments {
	background:url(comments.gif') no-repeat 0 center;
	padding-left:12px;
	float:right;
}
#news {
	width:460px;
	float:left;
}
#news .head {
	width:460px;
	padding-top:11px;
	padding-bottom:14px;
}
#news h3, #coming h3 {
	float:left;
}
#coming {
	width:490px;
	float:left;
	padding-left:30px;
}
#coming .head {
	width:490px;
	padding-top:11px;
	padding-bottom:14px;
}
#coming .head strong {
	color:#ff361a;
}
#coming .content {
	min-height:130px;
	height:auto !important;
	height:130px;
	padding-bottom:20px;
}
#coming .content h4 {
	padding-bottom:3px;
}
.content {
	padding-bottom:28px;
}
.content .date {
	font-size:10px;
	color:#fff;
}
.content img {
	float:left;
	width:68px;
	padding-right:8px;
}
.content p {
	font-size:13px;
	color:#fff;
	line-height:16px;
}
.content a {
	font-size:11px;
}
#footer {
	padding:15px 0 0 0;
	font-size:10px;
}
#footer, #footer a {
	color:#9c9c9c;
	text-decoration:none;
}
#footer a:hover {
	text-decoration:none;
}
#footer p {
	margin:0;
	padding:0 0 11px 0;
	line-height:normal;
	white-space:nowrap;
}
#footer .lf {
	float:left;
}
#footer .rf {
	float:right;
}
.hover01 img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover01 img:hover {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

